$brightGreen : #b8ec79;
$basicBackgroundColor : #343434;

$generalWidth : 100%;

%autoMrgHrzn {
    margin-left  : auto;
    margin-right : auto;
}
body {
    font-family : 'Cherry Swash', sans-serif;
}

#fill {
    height : 5em;
}

.con {
    text-align : center;
    margin     : 20px auto;
}

.footer {
    position         : fixed;
    bottom           : 0;
    width            : 100%;
    height           : 4em;
    line-height      : 4em;
    background-color : #f5f5f5;
    z-index          : 150;
    margin-top       : 4em;
}

#adminNr {
    position  : fixed;
    top       : 20em;
    right     : 2em;
    font-size : .6em;
}

.carouselContainer {
    text-align : center;
}

@media (min-width : 890px) {
    .carouselContainer {
        width : 690px;
    }
}

.btn {
    font-family : 'Cherry Swash', sans-serif;
}

img.resource {
    height        : 6em;
    width         : 8em;
    margin-bottom : 1em;
}

.dropdown {
    width   : 16em;
    display : inline-block;
    div, a, button {
        width        : 16em;
        margin-left  : auto;
        margin-right : auto;
    }
}

a {
    text-decoration : none !important;
}

.scroll {
    /*width: 64px;
    height: 64px;*/
    text-decoration : none;
    position        : fixed;
    bottom          : 5em;
    display         : none;
    box-sizing      : border-box;
    z-index         : 999;
}
#scrollup {
    right : 50px;
}

#scrolldown {
    right : 140px;
}

h1, h2, h3, h4, h5, h6 {
    margin  : 1em 0;
    display : block;
}

$listHs : h1 h2 h3 h4 h5 h6;
$listSizes : 18px 16px 14px 13px 12px 11px;

@media (max-width : 767px) {
    @for $i from 1 through length($listHs) {
        #{nth($listHs, $i)} {
            font-size : #{nth($listSizes, $i)};
        }
    }

    table {
        font-size : 0.7em;
        overflow  : hidden;
    }

    .hiddenMoustache {
        display : none;
    }

    select {
        width : 8em;
    }

}

.tableContainer {
    overflow-x : auto;
}

.alertLogin {
    font-size : .9em;
}

select {
    padding : .2em;
    width   : 15em;
}

form .btn {
    margin : .7em 0;
}

@media (max-width : 1600px) {
    #adminNr {
        display : none;
    }
}
